<%= form_for(sexto) do |f| %>
  <% if sexto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sexto.errors.count, "error") %> prohibited this sexto from being saved:</h2>

      <ul>
      <% sexto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
