<p id="notice"><%= notice %></p>

<h1>Sextos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sextos.each do |sexto| %>
      <tr>
        <td><%= sexto.name %></td>
        <td><%= sexto.bio %></td>
        <td><%= sexto.age %></td>
        <td><%= link_to 'Show', sexto %></td>
        <td><%= link_to 'Edit', edit_sexto_path(sexto) %></td>
        <td><%= link_to 'Destroy', sexto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sexto', new_sexto_path %>
