<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sexto.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @sexto.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @sexto.age %>
</p>

<%= link_to 'Edit', edit_sexto_path(@sexto) %> |
<%= link_to 'Back', sextos_path %>
